.btn {
    width: 200px;
    height: 50px;
    background-color: #0D6EFD;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease;
    position: relative;
    border-radius: 0px;
    border: none;
}

.btn:hover {
    width: 205px;
    height: 55px;
    box-shadow: 0 1.9rem 3.8rem rgba(0,0,0,0.3), 0 1.5rem 1.2rem rgba(0,0,0,0.22);
}
